# Environment variables
option_settings:
  - option_name: WFE_TLS_KEY
    value: /etc/pki/tls/certs/server.key
  - option_name: WFE_TLS_CERT
    value: /etc/pki/tls/certs/server.crt

files:
  # NGINX config
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTP Server
      server {
        server_name localhost;
        listen *:80;
        listen [::]:80;

        server_tokens off;

        access_log /var/log/nginx/access.log;
        error_log  /var/log/nginx/error.log;

        return 301 https://$host$request_uri;
      }

      # HTTPS Server
      server {
        server_name localhost;
        listen *:443 ssl;
        listen [::]:443 ssl;

        server_tokens off;

        access_log /var/log/nginx/access.log;
        error_log  /var/log/nginx/error.log;

        ssl_certificate     /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_protocols             TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers               DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:kEDH+AESGCM:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
        ssl_session_timeout       5m;
        ssl_session_cache         shared:SSL:10m;
        ssl_dhparam               /etc/pki/tls/dhparams.pem;

        add_header Strict-Transport-Security max-age=31536000;

        location / {
          proxy_pass       http://docker;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }

  # DH parameters
  /etc/pki/tls/dhparams.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN DH PARAMETERS-----
      MIIBCAKCAQEAsYhaUE9fvEAidkrnrfa0XEQr5xvqvMQOrsFsxNW/RhaXOeuj2fr/
      cZB4WNfdWwRgbM+s6p8S7wloNP0EfZbGLiqbFJbpn0aG0CYo8m/EHDXhhsjwNGkK
      zR9AHOrgv7utolT5ECe6zZ3wk978ROZQQU66ZKOqOoCqGV/IzEhrp8tuQiHUu9Mm
      OoRx+vGkt2QQTIToYUTOMeWLRRrSe0jw6hcU+cWpUOmeIepjXC/igoIzwvf2oObu
      IaW/jxED5qL5VxeBhseF/UahO2VS3hHgG5vP1iHJCZJeqYGBTxfhCMTM8Ap23oNn
      j8B5Ksw1w2YCUrYJLzIK9Xl/cZhgniY0UwIBAg==
      -----END DH PARAMETERS-----

  # Public key
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEtzCCA5+gAwIBAgIJAJFT0QkYQqH2MA0GCSqGSIb3DQEBCwUAMIGYMQswCQYD
      VQQGEwJVUzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHU2VhdHRsZTEi
      MCAGA1UEChMZQ29sbGFib3JhdGlvbiBpbiB0aGUgV2lsZDESMBAGA1UEAxMJbG9j
      YWxob3N0MSowKAYJKoZIhvcNAQkBFhtzb2NoYXMtcmFzQHUud2FzaGluZ3Rvbi5l
      ZHUwHhcNMTYwNzI4MDQyOTE3WhcNMTcwNzI4MDQyOTE3WjCBmDELMAkGA1UEBhMC
      VVMxEzARBgNVBAgTCldhc2hpbmd0b24xEDAOBgNVBAcTB1NlYXR0bGUxIjAgBgNV
      BAoTGUNvbGxhYm9yYXRpb24gaW4gdGhlIFdpbGQxEjAQBgNVBAMTCWxvY2FsaG9z
      dDEqMCgGCSqGSIb3DQEJARYbc29jaGFzLXJhc0B1Lndhc2hpbmd0b24uZWR1MIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7tuPUteTvefcHtZR1wsllCBX
      1QeWDi36JCUa67GoJzZ5nHN4u4mmrl2FD03VLPkZhtqEbwhDh2H+NtknKojFnmeS
      fmI16QB/DmWnRb9TK2/DG1rQ4QA0zU4PmSmu46iydljeqkr35w60wybZjVrJdi4m
      gWPdWNzDbAHKRuyElrnX/YicHQLfooeoI8hjX3GFkc2H5ZY6HAfTU9WBlwbjTQwO
      9UmfkUz6uu5NPL4IigIu3Shkxnmw2GUs1sINVdB6o3ZBcXxDRTWVEJM7TpXWmhuu
      tlRZNAaq2v20iz8MMT/ikEilzPdH+Qa/aImmn5YAvZTaqVyqtZ9Jk+LPXF43rQID
      AQABo4IBADCB/TAdBgNVHQ4EFgQUI3vhdIJ3ZvbKeWf8hH1OjyGET1Iwgc0GA1Ud
      IwSBxTCBwoAUI3vhdIJ3ZvbKeWf8hH1OjyGET1KhgZ6kgZswgZgxCzAJBgNVBAYT
      AlVTMRMwEQYDVQQIEwpXYXNoaW5ndG9uMRAwDgYDVQQHEwdTZWF0dGxlMSIwIAYD
      VQQKExlDb2xsYWJvcmF0aW9uIGluIHRoZSBXaWxkMRIwEAYDVQQDEwlsb2NhbGhv
      c3QxKjAoBgkqhkiG9w0BCQEWG3NvY2hhcy1yYXNAdS53YXNoaW5ndG9uLmVkdYIJ
      AJFT0QkYQqH2MAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAHAe3f4d
      9Or+Ff2fivF/kYd6tqPjOhSfY92kttN9WpJ03kRxhGtLXpppM6E2WiewDpxzt2r8
      AW8Lb1OUm54K8WZdZ6NsOPX308S6mkd7OAGPVSkO1GT6Qqb81+JMNOqc3tZJuaP0
      8jGSiP3oFr2pa1sTFLUmQGaWedMU+RFmcTxnubP8q5q6cL/HCPL+COfhIQXwTeYU
      BE3fo0DLcBwEpmTVu6mUABb6eEpOP8Or0AdoZ0/0ME6M1/cLFuSinbpRnAV7ERfY
      qOKD6K3zWktwz1gzTu38qG6UfIvV46D8tyS98fXCZUYPKzIaZL53s3t/kddvVI1g
      tGvsDhMRf9J7NZ4=
      -----END CERTIFICATE-----

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-827562370231/server.key

Resources:
  # Allow traffic on port 443
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  # Allow instance to authenticate with S3
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-827562370231"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"